.header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 100%;
  background-color: transparent;


  .nav-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .logo-mobile {
      position: absolute;
      left: 12%;
    }

    img {
      width: 61px;
      height: 44px;
    }

    .top-nav-burger {
      position: relative;
      z-index: 1000;
      background-color: black;
      height: 5px;
      width: 24px;
      left: 80%;
      position: absolute;

      .top, .middle, .bottom{
        position: absolute;
        height: 4px;
        width: 24px;
        left: 0;
        right: 0;
        background-color: black;
      }

      .top { top: 8px }
      .middle { top: 0px }
      .bottom { top: -8px }
    }

    .burger-link {
      position: relative;
      z-index: 900;
      display: flex;
      flex-direction: column;
      width: 100%;
      top: 16px;

      background-color: $blue;

      .nav-mobile {
        cursor: pointer;
        padding: 10px 10px;
        color: $grey;
        text-align: left;
      }
    }

  }
}
