// COLOR

$blue: #004e63;
$grey: #ebebeb;


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

section, footer:not(.technologies) {
  max-width: 75%;
  margin: 60px auto;
}
